@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ysabeau+Infant:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caramel&family=Poppins&family=Raleway&display=swap');

html,body{
    /* text styles/title/medium */
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    }
    
    .header .btn
    {
        font-family: 'Raleway';
        font-size: 16px;
        font-style: 'normal';
        font-weight: 700;
        line-height: 24px;
    }
    .nav-link:hover
    {
        color: #E9C400;
    }



    .about .about-img img{
      padding-top: 10%;
      width: 380px;
      height: 550px;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
    }

    .about-text h2{
        color: #FFF;

     /* text system/display/small */
       font-family: 'Bebas Neue';
       font-size: 44px;
       font-style: normal;
       font-weight: 400;
       line-height: 44px; /* 100% */
    }
    

    .about-text p{
        color: #FFF;

        /* text system/body/large */
       font-family: 'Arial';
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 24px; /* 150% */
    }


    .steps .section-header h2{
        color: #FFF;
        text-align: center;

        /* text system/display/small */
        font-family: 'Bebas Neue';
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px; /* 100% */
    }



    .card
    {
        display: flex;
        width: 300px;
        height: 464px;
        padding: 54px 16px 16px 25px;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }

    .card-title
    {
        color: #FFF;
       text-align: center;

/* text system/headline/small */
       font-family: 'Bebas Neue';
       font-size: 24px;
       font-style: normal;
       font-weight: 400;
       line-height: 32px; /* 133.333% */
    }



    .steps-1 .h1
    {
        color: #E9C400;

/* text system/display/small */
       font-family: 'Bebas Neue';
       font-size: 44px;
       font-style: normal;
       font-weight: 400;
       line-height: 44px; /* 100% */
    }

    .content-section
    {
        margin-right: 5%;
    }


    .steps__content-width h1{
        color: #FFF;

font-family: 'Bebas Neue';
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 72.727% */
    }


    
  /*footer part*/

  footer{
   
    background-color: black;
    width: 1670px;
    height: 289px;
    padding-top: 2%;
  }

  footer .row{
    margin-left :0;
   }

   .hr
  {
    border:3px solid #E9C400;
    width: 100%;
    
  }

  @media screen and (max-width: 960px)
  {
    footer{
        width: 423px;
        height: 770px;
        margin-top: 0%;
        padding-top: 5%;
      }
    
      #footer
      {
        align-items: center;
        margin-right: 60%;
        margin-left: -15%;
        
      }
    
      .hr
      {
        width: 100%;
        border:2px solid #E9C400;
        
      }
    
      .footer .row{
        margin-left: 35%;
      }
    
      #copyright
      {
        width: 100%;
        margin-left: 15%;
      }
    }    


    

